<div id="card-container" card-id="{{id}}" class="card-container card-classical" alt="{{card_title}}" style="order:{{order}}">
    <link rel="stylesheet" href="/css/card_classical.css"/>
    <a class="link card-classical-link" target="_blank" href="{{card_link}}">
        <div class="post-card-image">
            <img loading="lazy" src="{{card_image}}" alt="{{card_title}}"> <!-- lazy loading -->
        </div>
        <div class="post-card">
           <div class="post-card-header">{{card_title}}</div>
           <div class="card-description ">{{card_description}}</div>
        </div>
    </a>
    <div class="info-container" style="display: none;" data-redirect-type="{{redirect_type}}"></div>
</div>