<div class="main-article">
    <div class="data-container" style="display: none;" data-link=""></div>
    <div class="image-container">
        <img id="image-container-img" src="https://un1c0de.com/favicon.ico" alt="New Post">
    </div>
    <div class="description-container">
        <h2 class="title" id="post-title">New Post</h2>
        <span class="description" id="post-description">Create a new post by filling out the form below.</span>
        <div class="button-bar">

            <button class="button article-onekey-bottom">
                Viewed <span id="pageviewed-count">0</span>
                <i class="fa fa-eye"></i>
            </button>

            <button class="button article-onekey-bottom" id="share-button">
                Share
                <i class="fa fa-share"></i>
            </button>

            <button class="button article-onekey-bottom" id="copy-link-button">
                Copy Link
                <i class="fa fa-copy"></i>
            </button>
            
            <button class="button article-onekey-bottom" id="go-button" onclick="redirect()">
                Go!
                <i class="fa fa-arrow-right"></i>
            </button>

            <script> // Redirect to the new post page
                function redirect() {
                    link = document.querySelector(".data-container").getAttribute("data-link");
                    window.location.href = link;
                }
                redirect();
            </script>
            
        </div>
    </div>
</div>